page{
  padding: 0 0;

}
.container{
}
/* 隐藏滚动条 */
::-webkit-scrollbar{
  width: 0;
  height: 0;
  color: transparent;
}
.status{
  width: 100%;
  height: 200rpx;
  background-color: #5abe6d;
  padding: 0 20rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text{
    color: white;
    font-size: larger;
  }
  .tip{
    color: white;
    font-size: small;
  }
  .img{
    width: 140rpx;
    height: 120rpx;
  }
}

.info-mine{
  padding: 10rpx 20rpx;

  .mine-h2{
    font-size: larger;
    margin-bottom: 20rpx;
  }
  .info-data{
    margin: 20rpx 0;
    .info-data-row{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20rpx;
      .info-data-li{
        width: 350rpx;
        color: #666666;
      }
      .info-data-res{
        width: 100%;
        text-align: left;
      }

      .img{
        width: 300rpx;
        height: 400rpx;
      }
    }
  }
}
.hr{
  height: 1rpx;
  width: 100%;
  background-color: #e7e5e5;
}
.hr-b{
  height: 20rpx;
  width: 100%;
  background-color: #e7e5e5;
}

.submit{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 20rpx 10rpx 0 10rpx;
}

