.mine-contatiner{
    align-items: center;
}
.container{
    width: 100%;
    .avatar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        // height: 240rpx;
        t-avatar{
            margin-bottom: 15rpx;
        }
    }
}

.divider{
    padding: 0 20rpx;
}

.my-container{
    padding: 10rpx 20rpx;
    box-sizing: border-box;
}
